html {
    background-image: linear-gradient(to right top, #d16ba5,
    #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, 
    #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 0;   
}

header {
    position: relative;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 120px;
} 

.logo {
    font-family:'Silkscreen';
    
}

.linkedinlogo {
    padding-top: 6px;
    height: 24px;
    width: 24px;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-head {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.add-new-task {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-bottom: 8px;
}


#todo-title {
    border: 1px solid rgba(0, 0, 0, 1);
    border-right: 0;
    background-color: transparent;
    height: 20px;
    padding: 8px;
    padding-left: 12px;
    flex: 1;
    transition: all 0.3s;
}

.todo-title:hover {
    box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.5);
}

#todo-title::placeholder {
    color: black;
}

#date-picker {
    border: 1px solid rgba(0, 0, 0, 1);
    border-left: 0;
    background-color: transparent;
    height: 20px;
    padding: 8px;
}

.add-todo-button {
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: transparent;
    height: 38px;
    padding: 8px;
    margin-left: 10px;
    transition: all 0.3s;
}

.add-todo-button:hover {
    box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.5);
}

.current-task {
    margin-left: -312px;
    padding-bottom: 12px;
    font-weight: bold;
}

#todo-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.stylecheckbox {
    opacity: 0.8;
    cursor: pointer;
    position: relative;
}